* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------------------
    body
---------------------------*/

body {
  background-color: #9be3de;
}
.header {
  color: rgb(11, 43, 49);
  padding: 0.5em 0;
  font-size: 2em;
  display: flex;
  justify-content: center;
  text-align: center;
}
.register {
  padding: 1em;
  display: flex;
  justify-content: center;
  background-color: #9be3de;
}
input {
  margin: 10px;
}

.name,
.e-mail,
.wish {
  font-size: 1.5em;
  line-height: 50px;
  width: 20%;
  height: auto;
}
.Add,
.Reset,
.Start {
  border-radius: 25px;
  background-color: #f8afc9;
  padding: 10px;
  font-size: 1.5em;
  width: auto;
}
.Add:hover,
.Reset:hover,
.Start:hover {
  font-size: 1.5em;
  border-radius: 25px;
  background-color: #f7c1d4;
  padding: 10px;

  width: auto;
}

.Add:active,
.Reset:active,
.Start:active {
  font-size: 1.5em;
  border-radius: 25px;
  background-color: #f578a4;
  padding: 10px;
  width: auto;
}

#participants-list {
  color: rgb(11, 43, 49);
  padding-left: 8em;
  background-color: #d3f7f5;
}

#participants-list li {
  font-size: 2em;
  text-align: center;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 60%;
}
.status {
  display: flex;
  justify-content: center;
  text-align: center;
}

.status-message {
  width: 100%;
  background-color: #beebe9;
  font-size: 3em;
  color: rgb(48, 119, 121);
}
.Success {
  width: 100%;
  background-color: #beebe9;
  font-size: 3em;
  color: rgb(48, 121, 48);
}

.Error {
  width: 100%;
  background-color: #beebe9;
  font-size: 3em;
  color: rgb(216, 69, 69);
}
.Cleared {
  width: 100%;
  background-color: #beebe9;
  font-size: 3em;
  color: rgb(48, 121, 48);
}

.nameNode {
  padding: 0.5em 0;
  border-top: solid 2px lightgray;
  text-align: left;
  width: 30%;
}

.emailNode {
  padding: 0.5em 0;
  border-top: solid 2px lightgray;
  text-align: left;
  width: 40%;
}

.wishNode {
  padding: 0.5em 0;
  border-top: solid 2px lightgray;
  padding-left: 1em;
  width: 30%;
  text-align: left;
}
.send-part {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.send {
  border-radius: 25px;
  background-color: #f8afc9;
  padding: 10px;
  font-size: 1.5em;
  width: auto;
}

.send:hover {
  font-size: 1.5em;
  border-radius: 25px;
  background-color: #f7c1d4;
  padding: 10px;

  width: auto;
}

.send:active {
  font-size: 1.5em;
  border-radius: 25px;
  background-color: #f578a4;
  padding: 10px;
  width: auto;
}
